    server {
        listen 80;
        server_name {{ host_d }};
        
        root /var/www/{{ site_name }};
        index index.html index.htm;

        access_log /var/log/nginx/{{ site_name }}_access.log;
        error_log /var/log/nginx/{{ site_name }}_error.log;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:8080;
        }

    }
