#!/usr/bin/env bash

### Формат даты для имен
NOW=$(date +"%Y-%m-%d-%H-%M-%S")
### Путь к папке сайта
DIRSITE="/mnt/data/{{ backup_folder }}/wp"
### Путь для локального бэкапа сайта
DIRBACKUPSITE="/mnt/data/{{ backup_folder }}"

### Создаем бэкап site
/bin/tar -czf $DIRBACKUPSITE/site-$NOW.tar.gz $DIRSITE

### Удаляем бэкапы старше 14 дней
/usr/bin/find $DIRBACKUPSITE/site-* -mtime 14 -exec rm {} \;
