version: '3.8'

services:
  wordpress:
    image: wordpress:php7.4-apache
    restart: always
    ports:
      - 8080:80
    environment:
      - "WORDPRESS_DB_HOST={{ b_db_host }}:3306"
      - "WORDPRESS_DB_USER={{ b_db_username }}"
      - "WORDPRESS_DB_PASSWORD={{ b_db_password }}"
      - "WORDPRESS_DB_NAME={{ b_db_database }}"
      - "FORCE_SSL_ADMIN=true"
    volumes:
      - /mnt/data/wordpress/wp:/var/www/html
    deploy:
      replicas: 1
  node-exp-host:
    image: prom/node-exporter:v1.3.1
    container_name: node-exp-host
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 9100:9100
    expose:
      - 9100
